*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* body background and text color of portfolio */
body{
    background: #000;
    color: #f1f1f1;
}
/* the header id is for the overall of the background image that will have parallax effect
as well as the width of the nav bar */
#header{
    width:100%;
    height:100vh;
    background-image: url(img/anotherback.jpg);
    background-size: cover;
    background-position: center;
}
/* this class is holding the actual contents of the nav bar */
.container{
    padding:10px 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* this is the text on the right which says hire me, still in testing */
.logo{
    width:140px;
}
/* this is the content within the navbar i.e home, contact, etc. */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
/* this is the styling of the anchor tags in the nav bar*/
nav ul li a{
    color:#f1f1f1;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* nav:after and nav:hover are for when you move the mouse over the nav it will then underline the words with animation */
nav ul li a::after{
    content:'';
    width:0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
/* this will be for the text that is on the main header image */
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

/* this next section is going to be for the about section */

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width:0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color :#b54769;
    font-size: 15px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/* this is going to be the css in order to make my portfolio responsive to phones etc */
/* nav .fas being used since in this instance im using font awesome to create the hamburger rather than actually making one using html css and JS, this cuts down on time and with css has
the same effect */
nav .fas{
    display: none;
}
/* this section is about the coding langauges that i code in or know how to use */
.codingLanguages {
    padding: 80px 0;
    text-align: center;
    background-color: #1a1a1a;
}

.codingLanguages h2 {
    font-size: 40px;
    font-weight: 600;
    color: #f1f1f1;
    margin-bottom: 30px;
}

.language {
    display: inline-block;
    margin: 0 12px;
    vertical-align: top;
    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 8px rgba(255, 159, 231, 0.5);
    box-shadow: 0px 4px 8px rgba(238, 84, 217, 0.5);
}

.language img {
    width: 48px;
    height: 48px;
    border-radius: 15px;
    transition: transform 0.2s;
}

.language img:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px 0px  #fc2bac;
}


/* this next section is going to be where my projects will come into play where i will display my projects */
.my-projects{
    padding: 80px 0;
    text-align: center;
}
.my-projects h2{
    font-size: 40px;
    font-weight: 600;
    color:#f1f1f1;
    margin-bottom: 30px;
}
.project{
    display: inline-block;
    margin: 20px;
    position: relative;
    overflow: hidden;
}
.project img{
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}
.project-details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    color:#f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding:20px;
}
.project-details h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.project-details p{
    font-size: 16px;
    text-align: center;
}
.project:hover img{
    transform: scale(1.05);
}
.project:hover .project-details{
    opacity: 1;
}
/* this section is for a form where people hopefully potential employers can send me emails! */
.formContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: black; /* Updated background color */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white; /* Text color */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="text"],
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    background-color: #333; /* Input background color */
    color: white; /* Input text color */
}

button[type="submit"] {
    background-color: #b54769;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

@media only screen and (max-width:600px){
    #header{
        /* gonna need to take a photo phone style so it will be compatible, for now its just some random image */
        background-image: url('img/anotherback.jpg');
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position:fixed;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.2s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
    }
    /* this next section is for the about me, just to polish up */
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis:100%;
    }
    .about-col-1{
        margin-bottom: 15px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .formContainer {
        max-width: 100%;
    }
}